<% provide(:title, "Contact")  %>
 
   <h1 style="color: #55FF88; font-family: Tahoma;">Contact</h1>
    <p>Contact the ROR Tutoria at the 
      <a href="http://www.railstutorial.org/contact">contact page</a>.
    </p>
    <p style="color: #FF00FF; font-family: Georgia; font-style: italic;">Using ERb for the contact page.</p>
