<footer class="footer">
  <small>
    <a href="http://www.maxxima.net/">maxxima software</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://maxxima.net/199.2017.html">workout logs</a></li>
    </ul>
  </nav>
</footer>
